.Card {
    background-color: red;
    border-radius:10px ;
    overflow: hidden;
    border: 2px solid black;
    margin: 10px;
}
.Card .Title {
    padding: 5px;
    display: flex;
    justify-content: center;
}
.Card .Content {
    background-color: white;
    color: black;
    padding: 20px;
    align-items: center;
}